# PyCharm
.idea/

# Mac DS files
.DS_Store

# compiled python
*.pyc

# build and dist
build
dist

# mkdocs local site build
site

# Ignore local pyenv settings
.python-version

# Ignore code coverage map
.coverage

# Ignore local directory
local/